:root {
  --thinest-border-width: 0.05rem;
  --thin-border-width: 0.15rem;
  --bottom-bar-height: 0.25rem;
  --button-padding-v: 0.625rem; /* vertical */
  --button-padding-h: 1.25rem; /* horizontal */
  --glow-radius: 0.25rem;
  --soft-shadow-radius: 64px;
  --focus-outline-width: 2px;
  --focus-color: var(--theme-highest-contrast);
}