@import "normalize.css";
@import "defines.css";
@import "colors.css";
@import "themes/base.css";
@import "themes/orange.css";
@import "themes/teal.css";
@import "themes/pink.css";
@import "themes/humanelektronik.css";

:root {
  --font-inter: "Inter", sans-serif;
  --font-barlow: "Barlow", sans-serif;
  --font-mono: "JetBrainsMono", monospace;
  --font-emoji: "NotoColorEmoji";
  font-family: var(--font-inter), var(--font-emoji);
  font-size: 13pt;
  line-height: 1.4;
  font-feature-settings: "kern", "liga";
  text-rendering: geometricPrecision;
  z-index: 0;
  color: var(--theme-fg);
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-barlow), inherit;
  font-weight: bold;
}

a {
  color: var(--theme-special-fg);
  text-decoration: underline;
  cursor: pointer;
}

code {
  font-family: var(--font-mono);
  font-size: 75%;
  margin: 0.5rem 0;
  display: block;
}

/* Not required since :focus-visible is implemented? */
div:focus,
a:focus,
input:focus,
button:focus,
select:focus {
  outline: none;
}

div:focus-visible,
a:focus-visible,
input:focus-visible,
button:focus-visible,
select:focus-visible {
  outline: var(--focus-outline-width) solid var(--focus-color);
  z-index: 1; /* TODO: Better be relative to the context. */
  /* outline-offset: 5px; */
  border-radius: 0; /* iOS Safari has default border radius. */
}

div:active,
a:active,
input:active,
button:active,
select:active {
  outline: none;
}

/* Make outline of links have an offset. Assumption is that
a link has often no padding, but inputs and others have. */
a:focus-visible {
  outline-offset: 3px;
}