@import "normalize.css";
@import "defines.css";
@import "colors.css";
@import "themes/base.css";
@import "themes/orange.css";
@import "themes/teal.css";
@import "themes/pink.css";
@import "themes/humanelektronik.css";

:root {
  --font-inter: "Inter", sans-serif;
  --font-barlow: "Barlow", sans-serif;
  font-family: var(--font-inter);
  font-feature-settings: "kern", "liga";
  font-size: 12pt;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  z-index: 0;
  color: var(--theme-fg);
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-barlow);
  font-weight: bold;
}