@import "normalize.css";
@import "simple-colors.css";
@import "semantic-colors.css";
@import "defines.css";

:root {
  font-family: "Inter", sans-serif;
  font-feature-settings: "kern", "liga";
  font-size: 13pt;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  z-index: 0;
  color: var(--color-font-primary);
}