[theme-mode="light"] {
  --theme-fg: var(--lm-regular-fg);
  --theme-bg: var(--lm-regular-bg);
  --theme-special: var(--lm-special-gray);
  --theme-special-50: var(--lm-special-gray-50);
  --theme-special-fg: var(--lm-special-fg-gray);
  --theme-special-grad: var(--lm-special-grad-gray);
  --theme-special-skewed-grad: var(--lm-special-grad-gray-skewed);
  --theme-special-bg: var(--lm-special-bg-grad-gray);
  --theme-special-skewed-bg: var(--lm-special-bg-grad-gray-skewed);
  --theme-special-stacked-bg: var(--lm-special-stacked-bg-grad-gray);
  --theme-shadow: var(--black-25);
  --theme-glass: var(--lm-glass-gray);
  --theme-wave-stroke: var(--black);

  /* Colors that are usually not touched by a theme. */
  --theme-dwell: var(--black-50);
  --theme-trigger: var(--black-50);
  --theme-high-contrast: var(--dark-gray);
  --theme-higher-contrast: var(--darker-gray);
  --theme-highest-contrast: var(--black);
  --theme-low-contrast: var(--light-gray);
  --theme-lower-contrast: var(--lighter-gray);
  --theme-lowest-contrast: var(--white);
  --theme-contrast-50: var(--black-50);
  --theme-contrast-25: var(--black-25);
  --theme-contrast-15: var(--black-15);
  --theme-contrast-10: var(--black-10);
  --theme-contrast-5: var(--black-5);
  --theme-scollbar: var(--black-10);
  --theme-peripheral-body: var(--light-gray);
  --theme-peripheral-bump: var(--lighter-gray);
  --theme-peripheral-button: var(--gray);
  --theme-neutral-bg-grad: var(--lm-special-bg-grad-gray);
  --theme-neutral-med: var(--gray);
  --theme-info-fg: var(--lm-status-fg-info);
  --theme-info-bg: var(--lm-status-bg-grad-info);
  --theme-info: var(--lm-status-grad-info);
  --theme-info-stacked-bg: var(--lm-status-stacked-bg-grad-info);
  --theme-warning-fg: var(--lm-status-fg-warning);
  --theme-warning-bg: var(--lm-status-bg-grad-warning);
  --theme-warning: var(--lm-status-grad-warning);
  --theme-warning-stacked-bg: var(--lm-status-stacked-bg-grad-warning);
  --theme-error-fg: var(--lm-status-fg-error);
  --theme-error-bg: var(--lm-status-bg-grad-error);
  --theme-error: var(--lm-status-grad-error);
  --theme-error-stacked-bg: var(--lm-status-stacked-bg-grad-error);
  --theme-success-fg: var(--lm-status-fg-success);
  --theme-success-bg: var(--lm-status-bg-grad-success);
  --theme-success: var(--lm-status-grad-success);
  --theme-success-stacked-bg: var(--lm-status-stacked-bg-grad-success);

  /* Simple colors, i.e., for the trace. */
  --theme-orange: var(--lm-special-orange);
  --theme-teal: var(--lm-special-teal);
  --theme-pink: var(--lm-special-pink);
  --theme-gray: var(--lm-special-gray);
  --theme-yellow: var(--lm-special-yellow);
  --theme-green: var(--lm-special-green);
  --theme-rose: var(--lm-special-rose);
  --theme-platinum: var(--lm-special-platinum);
}

[theme-mode="dark"] {
  --theme-fg: var(--dm-regular-fg);
  --theme-bg: var(--dm-regular-bg-gray);
  --theme-special: var(--dm-special-gray);
  --theme-special-50: var(--dm-special-gray-50);
  --theme-special-fg: var(--dm-special-fg-gray);
  --theme-special-grad: var(--dm-special-grad-gray);
  --theme-special-skewed-grad: var(--dm-special-grad-gray-skewed);
  --theme-special-bg: var(--dm-special-bg-grad-gray);
  --theme-special-skewed-bg: var(--dm-special-bg-grad-gray-skewed);
  --theme-special-stacked-bg: var(--dm-special-stacked-bg-grad-gray);
  --theme-shadow: var(--white-25);
  --theme-glass: var(--dm-glass-gray);
  --theme-wave-stroke: var(--white);

  /* Colors that are usually not touched by a theme. */
  --theme-dwell: var(--white-50);
  --theme-trigger: var(--white-50);
  --theme-high-contrast: var(--gray);
  --theme-higher-contrast: var(--lighter-gray);
  --theme-highest-contrast: var(--white);
  --theme-low-contrast: var(--dark-gray);
  --theme-lower-contrast: var(--darker-gray);
  --theme-lowest-contrast: var(--black);
  --theme-contrast-50: var(--white-50);
  --theme-contrast-25: var(--white-25);
  --theme-contrast-15: var(--white-15);
  --theme-contrast-10: var(--white-10);
  --theme-contrast-5: var(--white-5);
  --theme-scollbar: var(--black-50);
  --theme-peripheral-body: var(--lighter-gray);
  --theme-peripheral-bump: var(--white);
  --theme-peripheral-button: var(--gray);
  --theme-neutral-bg-grad: var(--dm-special-bg-grad-gray);
  --theme-neutral-med: var(--gray);
  --theme-info-fg: var(--dm-status-fg-info);
  --theme-info-bg: var(--dm-status-bg-grad-info);
  --theme-info: var(--dm-status-grad-info);
  --theme-info-stacked-bg: var(--dm-status-stacked-bg-grad-info);
  --theme-warning-fg: var(--dm-status-fg-warning);
  --theme-warning-bg: var(--dm-status-bg-grad-warning);
  --theme-warning: var(--dm-status-grad-warning);
  --theme-warning-stacked-bg: var(--dm-status-stacked-bg-grad-warning);
  --theme-error-fg: var(--dm-status-fg-error);
  --theme-error-bg: var(--dm-status-bg-grad-error);
  --theme-error: var(--dm-status-grad-error);
  --theme-error-stacked-bg: var(--dm-status-stacked-bg-grad-error);
  --theme-success-fg: var(--dm-status-fg-success);
  --theme-success-bg: var(--dm-status-bg-grad-success);
  --theme-success: var(--dm-status-grad-success);
  --theme-success-stacked-bg: var(--dm-status-stacked-bg-grad-success);

  /* Simple colors, i.e., for the trace. */
  --theme-orange: var(--dm-special-orange);
  --theme-teal: var(--dm-special-teal);
  --theme-pink: var(--dm-special-pink);
  --theme-gray: var(--dm-special-gray);
  --theme-yellow: var(--dm-special-yellow);
  --theme-green: var(--dm-special-green);
  --theme-rose: var(--dm-special-rose);
  --theme-platinum: var(--dm-special-platinum);
}