[theme-mode="light"] {
  --theme-fg: var(--lm-regular-fg);
  --theme-bg: var(--lm-regular-bg);
  --theme-accent: var(--dark-gray);
  --theme-accent-50: var(--dark-gray-50);
  --theme-special-fg: var(--darker-gray);
  --theme-accent-fill: var(--lm-semanux-grad-gray);
  --theme-special-bg: var(--lm-special-bg-grad-gray);
  --theme-stacked-bg: var(--lm-stacked-bg-grad-gray);
  --theme-shadow: var(--black-25);
  --theme-glass: var(--lm-glass-gray);

  /* Colors that are usually not touched by a theme. */
  --theme-dwell: var(--black-50);
  --theme-trigger: var(--black-50);
  --theme-high-contrast: var(--dark-gray);
  --theme-higher-contrast: var(--darker-gray);
  --theme-highest-contrast: var(--black);
  --theme-low-contrast: var(--light-gray);
  --theme-lower-contrast: var(--lighter-gray);
  --theme-lowest-contrast: var(--white);
  --theme-contrast-50: var(--black-50);
  --theme-contrast-25: var(--black-25);
  --theme-contrast-15: var(--black-15);
  --theme-contrast-10: var(--black-10);
  --theme-contrast-5: var(--black-10);
  --theme-peripheral-body: var(--light-gray);
  --theme-peripheral-bump: var(--lighter-gray);
  --theme-peripheral-button: var(--gray);
  --theme-neutral-bg-grad: var(--lm-neutral-bg-grad);
  --theme-neutral-med: var(--lm-neutral-med);
}

[theme-mode="dark"] {
  --theme-fg: var(--dm-regular-fg);
  --theme-bg: var(--dm-regular-bg);
  --theme-accent: var(--light-gray);
  --theme-accent-50: var(--light-gray-50);
  --theme-special-fg: var(--lighter-gray);
  --theme-accent-fill: var(--dm-semanux-grad-gray);
  --theme-special-bg: var(--dm-special-bg-grad-gray);
  --theme-stacked-bg: var(--dm-stacked-bg-grad-gray);
  --theme-shadow: var(--white-25);
  --theme-glass: var(--dm-glass-gray);

  /* Colors that are usually not touched by a theme. */
  --theme-dwell: var(--white-50);
  --theme-trigger: var(--white-50);
  --theme-high-contrast: var(--gray);
  --theme-higher-contrast: var(--lighter-gray);
  --theme-highest-contrast: var(--white);
  --theme-low-contrast: var(--dark-gray);
  --theme-lower-contrast: var(--darker-gray);
  --theme-lowest-contrast: var(--black);
  --theme-contrast-50: var(--white-50);
  --theme-contrast-25: var(--white-25);
  --theme-contrast-15: var(--white-15);
  --theme-contrast-10: var(--white-10);
  --theme-contrast-5: var(--white-5);
  --theme-peripheral-body: var(--lighter-gray);
  --theme-peripheral-bump: var(--white);
  --theme-peripheral-button: var(--gray);
  --theme-neutral-bg-grad: var(--dm-neutral-bg-grad);
  --theme-neutral-med: var(--lm-neutral-med);
}