[theme-mode="light"] {
  --theme-fg: var(--lm-regular-fg);
  --theme-bg: var(--white);
  --theme-semanux: var(--dark-gray);
  --theme-semanux-50: var(--dark-gray-50);
  --theme-special-bg: var(--gray);
  --theme-special-fg: var(--darker-gray);
  --theme-semanux-grad: var(--lm-semanux-grad-gray);
  --theme-special-bg-grad: var(--lm-semanux-bg-grad-gray);
  --theme-shadow: var(--black-25);
  --theme-widget-bg: var(--white-90);

  /* Colors that are usually not touched by a theme. */
  --theme-dwell: var(--black-50);
  --theme-trigger: var(--black-50);
  --theme-high-contrast: var(--dark-gray);
  --theme-higher-contrast: var(--darker-gray);
  --theme-highest-contrast: var(--black);
  --theme-low-contrast: var(--light-gray);
  --theme-lower-contrast: var(--lighter-gray);
  --theme-lowest-contrast: var(--white);
  --theme-contrast-50: var(--black-50);
  --theme-contrast-25: var(--black-25);
  --theme-contrast-10: var(--black-10);
  --theme-contrast-5: var(--black-10);
  --theme-peripheral-body: var(--light-gray);
  --theme-peripheral-bump: var(--lighter-gray);
  --theme-peripheral-button: var(--gray);
}

[theme-mode="dark"] {
  --theme-fg: var(--dm-regular-fg);
  --theme-bg: var(--dark-gray);
  --theme-semanux: var(--light-gray);
  --theme-semanux-50: var(--light-gray-50);
  --theme-special-bg: var(--gray);
  --theme-special-fg: var(--lighter-gray);
  --theme-semanux-grad: var(--dm-semanux-grad-gray);
  --theme-special-bg-grad: var(--dm-semanux-bg-grad-gray);
  --theme-shadow: var(--white-25);
  --theme-widget-bg: var(--black-90);

  /* Colors that are usually not touched by a theme. */
  --theme-dwell: var(--white-50);
  --theme-trigger: var(--white-50);
  --theme-high-contrast: var(--gray);
  --theme-higher-contrast: var(--lighter-gray);
  --theme-highest-contrast: var(--white);
  --theme-low-contrast: var(--dark-gray);
  --theme-lower-contrast: var(--darker-gray);
  --theme-lowest-contrast: var(--black);
  --theme-contrast-50: var(--white-50);
  --theme-contrast-25: var(--white-25);
  --theme-contrast-10: var(--white-10);
  --theme-contrast-5: var(--white-5);
  --theme-peripheral-body: var(--lighter-gray);
  --theme-peripheral-bump: var(--white);
  --theme-peripheral-button: var(--gray);
}