[theme-color="humanelektronik"][theme-mode="light"] {
  --theme-special: var(--he-blue);
  --theme-special-50: var(--he-blue-50);
  --theme-special-fg: var(--he-blue);
  --theme-special-grad: var(--he-blue);
  --theme-special-bg: var(--he-beige);
  --theme-special-stacked-bg: var(--he-beige);
}

[theme-color="humanelektronik"][theme-mode="dark"] {
  --theme-special: var(--he-beige);
  --theme-special-50: var(--he-beige-50);
  --theme-special-fg: var(--he-beige);
  --theme-special-grad: var(--he-beige);
  --theme-special-bg: var(--he-blue);
  --theme-special-stacked-bg: var(--he-blue);
}