[theme-color="humanelektronik"][theme-mode="light"] {
  --theme-semanux: var(--lm-semanux-teal);
  --theme-semanux-50: var(--lm-semanux-teal-50);
  --theme-special-bg: var(--lm-special-bg-teal);
  --theme-special-fg: var(--lm-special-fg-teal);
}

[theme-color="humanelektronik"][theme-mode="dark"] {
  --theme-fg: var(--dm-special-fg-teal);
  --theme-bg: var(--dm-regular-bg-teal);
  --theme-semanux: var(--dm-semanux-teal);
  --theme-semanux-50: var(--dm-semanux-teal-50);
  --theme-special-bg: var(--dm-special-bg-teal);
  --theme-special-fg: var(--dm-special-fg-teal);
}