[theme-color="orange"][theme-mode="light"] {
  --theme-semanux: var(--lm-semanux-orange);
  --theme-semanux-50: var(--lm-semanux-orange-50);
  --theme-special-bg: var(--lm-special-bg-orange);
  --theme-special-fg: var(--lm-special-fg-orange);
  --theme-semanux-grad: var(--lm-semanux-grad-orange);
  --theme-special-bg-grad: var(--lm-special-bg-grad-orange);
  --theme-glass: var(--lm-glass-orange);
}

[theme-color="orange"][theme-mode="dark"] {
  --theme-bg: var(--dm-regular-bg-orange);
  --theme-semanux: var(--dm-semanux-orange);
  --theme-semanux-50: var(--dm-semanux-orange-50);
  --theme-special-bg: var(--dm-special-bg-orange);
  --theme-special-fg: var(--dm-special-fg-orange);
  --theme-semanux-grad: var(--dm-semanux-grad-orange);
  --theme-special-bg-grad: var(--dm-special-bg-grad-orange);
  --theme-shadow: var(--dm-special-fg-orange-25);
  --theme-glass: var(--dm-glass-orange);
}