[theme-color="teal"][theme-mode="light"] {
  --theme-semanux: var(--lm-semanux-teal);
  --theme-semanux-50: var(--lm-semanux-teal-50);
  --theme-special-fg: var(--lm-special-fg-teal);
  --theme-semanux-grad: var(--lm-semanux-grad-teal);
  --theme-special-bg-grad: var(--lm-special-bg-grad-teal);
  --theme-glass: var(--lm-glass-teal);
}

[theme-color="teal"][theme-mode="dark"] {
  --theme-bg: var(--dm-regular-bg-teal);
  --theme-semanux: var(--dm-semanux-teal);
  --theme-semanux-50: var(--dm-semanux-teal-50);
  --theme-special-fg: var(--dm-special-fg-teal);
  --theme-semanux-grad: var(--dm-semanux-grad-teal);
  --theme-special-bg-grad: var(--dm-special-bg-grad-teal);
  --theme-shadow: var(--dm-special-fg-teal-25);
  --theme-glass: var(--dm-glass-teal);
}