[theme-color="teal"][theme-mode="light"] {
  --theme-accent: var(--lm-semanux-teal);
  --theme-accent-50: var(--lm-semanux-teal-50);
  --theme-special-fg: var(--lm-special-fg-teal);
  --theme-accent-fill: var(--lm-semanux-grad-teal);
  --theme-special-bg: var(--lm-special-bg-grad-teal);
  --theme-stacked-bg: var(--lm-stacked-bg-grad-teal);
  --theme-glass: var(--lm-glass-teal);
}

[theme-color="teal"][theme-mode="dark"] {
  --theme-bg: var(--dm-regular-bg-teal);
  --theme-accent: var(--dm-semanux-teal);
  --theme-accent-50: var(--dm-semanux-teal-50);
  --theme-special-fg: var(--dm-special-fg-teal);
  --theme-accent-fill: var(--dm-semanux-grad-teal);
  --theme-special-bg: var(--dm-special-bg-grad-teal);
  --theme-stacked-bg: var(--dm-stacked-bg-grad-teal);
  --theme-shadow: var(--dm-special-fg-teal-25);
  --theme-glass: var(--dm-glass-teal);
  --theme-wave-stroke: var(--lm-semanux-grad-teal);
}