[theme-color="teal"][theme-mode="light"] {
  --theme-special: var(--lm-special-teal);
  --theme-special-50: var(--lm-special-teal-50);
  --theme-special-fg: var(--lm-special-fg-teal);
  --theme-special-grad: var(--lm-special-grad-teal);
  --theme-special-skewed-grad: var(--lm-special-grad-teal-skewed);
  --theme-special-bg: var(--lm-special-bg-grad-teal);
  --theme-special-skewed-bg: var(--lm-special-bg-grad-teal-skewed);
  --theme-special-stacked-bg: var(--lm-special-stacked-bg-grad-teal);
  --theme-glass: var(--lm-glass-teal);
}

[theme-color="teal"][theme-mode="dark"] {
  --theme-bg: var(--dm-regular-bg-teal);
  --theme-special: var(--dm-special-teal);
  --theme-special-50: var(--dm-special-teal-50);
  --theme-special-fg: var(--dm-special-fg-teal);
  --theme-special-grad: var(--dm-special-grad-teal);
  --theme-special-skewed-grad: var(--dm-special-grad-teal-skewed);
  --theme-special-bg: var(--dm-special-bg-grad-teal);
  --theme-special-skewed-bg: var(--dm-special-bg-grad-teal-skewed);
  --theme-special-stacked-bg: var(--dm-special-stacked-bg-grad-teal);
  --theme-shadow: var(--dm-special-fg-teal-25);
  --theme-glass: var(--dm-glass-teal);
  --theme-wave-stroke: var(--lm-special-grad-teal);
}